1.What are the data structure and why are they important?

-Data structures is a way of organizing and storing data so that can be accessed and manipulate efficiently.
Pyhton has built-in suppot for data structures like (strings,sets,lists,tuples,dictionaries,array).
In python, data structures are important because:

* Efficient data management: Data structures like tuples,lists sets and dictionaries helps us to store in a way that make it easy to process.

* Faster program performance:Proper use of data structures improves the memory storage and usage of programs.

* Solving Complex Problem:Advanced data structure like stacks, queues
,trees ,heaps are used to solve complex problem such as:

Undo opeartion
Task scheduling

2.Explain the difference between mutable and immutable data types with example?

-Mutable Data types

>These can be changed after they are created.

>You can add,remove,or modify elements without creating a new object.

Example:
my_list=[1,2,3,4]
print(id(my_list))
my_list.append(5)
print(my_list)
print(id(my_list))

Immutable Data Types

>These cannot be changed once created.

>Any modification will create a new object in memory.

Example:

my_str="Hello"
print(id(my_str))
my_str +="world"
print(my_str)
print(id(my_str))

3.What are the main differences between lists and tuples in python?

-Lists:

-Lists can be changed by adding or removing elements(mutable).

-Lists can be defined using square brackets[].

-Lists has more built-in methods.(eg:.,append,remove)

-Lists are slower due to dynamic size and mutability.

-Use cases:Suitable for collection of items that may change.

Tuples:

-Tuples can't be changed by adding or removing elements(immutable).

-Tuples can be defined using parantheses().

-Tuples has fewer built-in methods.(eg.,count,index).

-Tuples are faster due to static size and immutability.

-Use cases:Ideal for fixed collections of items.


4.Describe how dictionaries store data.

-Dictionaries store data in form of key value pair.This data structure is implemented using a hash table.

In dictionaries,keys must be unique and immutable.

Dictionaries are written with curly brackets,and have key and values.

student={"name":"Priyanshi","age":21,"course":"Python"}

where,

    "name","age","course"-> keys
    "Priyanshi",21,"Python" -> values

use cases:
phonebook={"Dad":1234,"Mom":4567}

phonebook


5.Why might you use a set instead of a list in python?

 -We use a set instead of a list when we want to store unique elements and don't care about their order.

 Sets are an unordered collection,when we access all items, thet are accessed without any specific order or we can't access items using indexes as we do in lists.

 A set automatically removes a duplicate values,while a list can contain duplicates .

 Sets are also fater than lists for chechking wether an item exists,because the use hashing internally.

 Sets do not support indexing or slicing.


 6.What is a string in Python,and how it is different from a list?

 -String:

 - A string is a sequence of characters enclosed in single quotes'',double quotes" ",or triple quotes ''' ''',

 - Strings are immutable, which means you can't change a string after it is created.

 - Use case: Text data

 Eg:.,name="Priyanshi"

 List:

 -A list is a collection of items,which can be of any data type like numbers,strings,etc.

 =Lists are mutable, which means you can change,add,or remove elements after creation.

 -Use case: Collection of items

 Eg:.,fruits["apple","mango","grapes"]


7. How do tuples ensure data integrity in python?

-Tuples in python ensure data integrity because they are immutable, which means once tuple is created ,elements can't be changed,added or removed.So it keeps improtant or fixed data safe.


8.What is a hash table,and how does it relate to dictionaries in python?

-Hash Table

-A hash table is a data structure that stores data in key-value pairs.

-This allows operations like insertion,deletion of data.

-It uses a hash function to convert the key into an index in an internal array,so it accessed quickly.

Python dictionaries are hash tables internally,which is why you can quickly look up,add or remove items using keys.


9.Can lists contain different data types in python?

-Yes, lists can contain different data types in python.
In Python, lists is a collection of items that can store different types of data together.

Python lists are flexible ,you can store integers ,floats,strings,booleans etc in same lists.

Eg,.:my_list=[10,"Hello",2.1,True]

So,lists in python are heterogenous,means they can hold multiple data types in the same list.


10.Explain why strings are immutable in python.

-Strings are immutable in python because they cannot be changed after they created.Strings are immutable by design to keep them safe,consistent and efficient.

a.Save memory:
When strings are reused,Python does not need to make new copies,which saves memory.

b.Thread safety:
Immutable strings are safe tio use in multiple threads because their values cannot be changed unexpectedly.


11.What advantages do dictionaries offer over lists for certain task?

-Advantages of dictionaries over lists:

-Fast lookup by key:

Dictionaries allow you to access values directly using keys,which is much faster than searching through a list.

-Easy data updates:

Dictionaries make it easy to update values associated withspecific keys.

-Dictionaries are better for mapping relationships,like a name to a phone number.


12.Describe a scenario where using a tuple would be preferable over a list.

-Scenario where using a tuple would be preferable over a list:
When you want to store data that should not be changed throughout the program,using a tuple is better.

Eg,.Storing names of the days in a week

days=("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","sunday")
here,using a tuple ensures that no one can modify or delete the days,which helps to maintain data integrity.


13.How do sets handle duplicate values in python?

-In python,sets automatically remove duplicate values.When you add the same element more than once to a set,it only keeps one copy of that element.

Eg.,numbers={1,2,3,4,4}
print(numbers)

so,sets make sure that all elements are unique ,no matter how many times you try to add duplicates.


14.How does'in'keyword work differently for lists and dictionaries?

-The 'in' keyword in python functions differently for lists and dictionaries primarily in what it checks for and how efficiently it performs that check.

for lists:

1.Value check: The 'in' keyword checks if a value is present in the list.

2.Iteration:The 'in' keyword iterates over the list elements to find a match.

for dictionaries:

1.Key check: The 'in'keyword checks if a key is present in the dictionary.

2.Hash Table lookup: The 'in'keyword uses the dictionary's hash table to find a match.


15.Can you modify the elements of a tuple?Explain why or why not.

-No,the elements of a tuple cannot be modified because tuples are immutable in Pyhton .Once created their elements cannot be changed,added or removed.This immutability helps in maintaining data integrity and allows tuples to be used as keys in dictionaries.


16.What is a nested dictionary,and give an example of its use cases?

-A nested dictionary is a dictonary that contains another dictionary as a value.It helps organize complex or grouped data,like student details or product info into in a clean and structured way.
Eg.,student={
  "name":"Priyanshi","age":18,"marks":{"math":90,"science":85,"english":75}}

use cases of nested dictionary:

1.To store student records,includin marks in diff subjects.

2.To manage employee info inside an organisation

employees={"E101":{"name":"Rahul":"department":"IT"},

          {"E102":{"name":"Neha":"department":"HR"}}

3.To store multiple user accounts in apps or websites.

4.For representing JSON data from APIs and databases.


17.Describe the time complexity of accessing elements in a dictionary.

-Accessing elements in a Python dictionary is on average 0(1) because dictionaries use a hash table for storing key-value pairs.In the Worst case of hash collisions , the time complexity can become 0(n).


18.In what situations are lists preferred over dictionaries.

-Lists are generally pregerred when:

1.Order of elements matters:
If you need  to maintain the sequence of items and access them by position (index), a list is the best choice.

2.Data does not need unique keys:
List allow duplicate values,while dictionaries require unique keys.

3.You only care about the values,not key-value pairs:
List store single items , whereas dictionariesstore data as key-value pairs.When keys are unnecessary,lists are simpler.


19.Why are dictionaries considered unordered,and how does that affect data retrieval?

-Dictionaries are considered unordered because they don't maintain the order of insertion, as they use a hash table for fast key-based lookups rather than a sequence.This affects data retrieval because you cannot rely on getting items back in the orde they were added;instead you must use the key to access the correct value,which is a very fast operation.


20.Explain the diff between a list and a dictionary in terms of data retrieval?

list:
-List is an ordered collection of items.

-In list,data is accessed by index.

-Access by index is fast(0(1)),but searching by value is slower (0(n)).

-Eg.,fruits=["apple","grapes","cherry"]
fruits[1]gives grapes

Dictionary:
-Dictionary is a collection of key-value pairs.

-In dictionary data is accessed by key.

-Access by key is fast(0(1)) using hash tables.

-Eg.,person={"name:"Alice","age":25}
person{"age"} gives 25.

1.Write a code to create a string with your name and print it?

In [ ]:
name="Priyanshi"
print(name)

Priyanshi

2.Write a code to find the length of the string "Hello world".

In [ ]:
text = "Helloworld"
print(len(text))

10

3.Write a code to slice the first 3 characters from the string"Python Programming".

In [ ]:
text="python programming"
first_three=text[:3]
print(first_three)

pyt

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
text="hello"
print(text.upper())

HELLO

5.Write a code to replace the word "apple" with "oranges" in the string "i like apple".

In [ ]:
text="i like apple"
new_text=text.replace("apple","oranges")
print(new_text)

i like oranges

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers=[1,2,5]
print(numbers)

[1, 2, 5]

7.Write a code to append the number 10 to the list[1,2,3,4].

In [ ]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list[1,2,3,4,5].

In [ ]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list['a','b','c','d',].

In [ ]:
letters=['a','b','c','d']
print(letters[1])

b

10.Write a code to reverse the list[10,20,30,40,50].

In [ ]:
numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100,200,300 and print it.

In [ ]:
numbers=(100,200,300)
print(numbers)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple('red','green','blue','yellow').

In [ ]:
colors=('red','green','blue','yellow')
print(colors[-2])

blue

13.Write a code to find the minimum number in the tuple(10,20,5,15).

In [ ]:
numbers=(10,20,5,15)
print(min(numbers))

5

14.Write a code to find the index of the element 'cat'in the tuple('dog','cat','rabbit').

In [ ]:
animals=('dog','cat','rabbit')
print(animals.index('cat'))

1

15.Write a code to create a tuple containing three different fruits and check if 'kiwi'is in it.

In [ ]:
fruits=("apple","banana","mango")
if "kiwi" in fruits:
  print("kiwi is in tuple")
else:
  print("kiwi is not in tuple")

kiwi is not in tuple

16.Write a code to create a set with the elements'a','b','c',and print it.

In [ ]:
my_set={'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

17.Write a code to clear all elements from the set{1,2,3,4,5}.

In [ ]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18.Write a code to remove the element 4 from the set {1,2,3,4}.

In [ ]:
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.Write a code to find the union of two sets {1,2,3}and{3,4,5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets{1,2,3}and{2,3,4}.

In [ ]:
set1={1,2,3}
set2={2,3,4}
intersection=set1.intersection(set2)
print(intersection)

{2, 3}

21.Write a code to create a dictionary with the keys"name","age"and "city",and print it.

In [ ]:
person={'name':'John','age':25,'city':'New York'}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22.Write a code to add a new key-value pair"country":USA" to the dictionary{'name':'John':'age':25}.

In [ ]:
person={'name':'John','age':25}
person['country']='USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with key "name" in the dictionary {'name':'Alice','age':30}.

In [ ]:
person={'name':'Alice','age':30}
print(person['name'])

Alice

24.Write a code to remove the key"age" from the dictionary{'name':'Bob','age':22,'city':'New York'}.

In [ ]:
person={'name':'Bob','age':22,'city':'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary{'name':'Alice','city':'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("City exists in the dictionary")

City exists in the dictionary

26.Write a code to create a list, a tuple,and a dictionary and print them all.

In [ ]:
my_list=["apple","banana","cherry"]
my_tuple=("apple","banana","cherry")
my_dict={"name":"John","age":25}
print("List:",my_list)
print("Tuple:",my_tuple)
print("Dictionary:",my_dict)

List: ['apple', 'banana', 'cherry']
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25}

27.Write a code to create a list of 5 random numbers between 1 and 100, and sort it in ascending order, and print the result(replaced).

In [ ]:
import random
random_numbers=[random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print("sorted list:",random_numbers)

sorted list: [3, 9, 11, 62, 68]

28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list=["apple","banana","cherry","date","elderberry"]
index=int(input("enter the index:"))
if 0<=index<len(my_list):
  print("element at index,index","is:",my_list[index])
else:
  print("invalid index")

enter the index:2
element at index,index is: cherry

29.Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
combined_dict={**dict1,**dict2}
print("combined dictionary:",combined_dict)

combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to to convert a list of strings into a set.

In [ ]:
my_list=["apple","banana","orange","cherry","grapes"]
my_set=set(my_list)
print("Set:",my_set)

Set: {'apple', 'banana', 'orange', 'cherry', 'grapes'}